{{!-- <h1>{{titulo}}</h1>
<h2>{{conteudo}}</h2> --}}

<h1>Postagens</h1>
{{#if arr_postagens.lenght}}

    <ul>
        {{#each arr_postagens}}
        <li>
            <h2>{{titulo}}</h2>
            <h2>{{conteudo}}</h2>
        </li>
        {{/earch}}
    </ul>

{{else}}
    <p>não ha postagens</p>

{{/if}}